
#yoga-Section-main{
.yoga-section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Header Styles */
header {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px;
  font-family: "DM Sans";
}

header h1 {
  color: #000;
  font-size: 70px;
  margin-bottom: -50px;
}

header h1 span.highlight {
  color: #ffdc2e;
}
.yoga-section {
  overflow: hidden;
}

header p {
  font-family: "Fasthand",cursive;
  color: #000;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 10px;
  margin-left: 160px;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.yoga-container {
  width: fit-content;
  position: relative;
  height: 85vh;
}

.yoga {
  height: inherit;
}

.cloud,
.curve-text,
.ellipse {
  position: absolute;
}

/* .image-container img {
  position: absolute;
} */

.ellipse {
  bottom: 0px;
  left: -80px;
  height: 50vh;
  width: 100%;
  object-fit: contain;
  z-index: -5;
  animation: pulse 12s infinite;
  /* border: 2px solid red; */
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.right-cloud {
  height: 30vh;
  bottom: 0;
  right: -60%;
  z-index: -3;
}

.left-cloud {
  height: 30vh;
  bottom: 0;
  left: -50%;
  z-index: -3;
}

.right-curve {
  bottom: 0;
  right: -30%;
}

.left-curve {
  bottom: 0;
  left: -35%;
  transform: rotate(-20deg);
}

.para1 {
  font-family: "Fasthand";
  position: absolute;
  top: 2rem;
  left: -250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.para1 p {
  font-size: 2rem;
}

.para1 img {
  width: 25%;
}

.para2 {
  font-family: "Fasthand";
  position: absolute;
  top: -3rem;
  right: -80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.para2 p {
  font-family: "Fasthand",cursive;

  font-size: 2rem;
}

.para2 img {
  width: 12%;
  position: absolute;
  right:  90%;
    top: 70%;
}

.para2 .tagline {
  width: 70%;
  text-align: center;
}

.tagline span {
  font-family: "Fasthand",cursive;

  font-size: 2.5rem;
}

.tagline span.how {
  font-family: "DM Sans";
  text-decoration: underline;
}

.para3 {
  font-family: "Fasthand";
  position: absolute;
  top: 37vh;
  right: -150px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.para3 p {
  font-size: 1.75rem;
}

.para3 img {
  width: 14%;
  position: absolute;
  left: -43px;
  bottom: 30px;
}

.para3 div {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row-reverse;
}

.left2 {
  bottom: 30%;
  position: absolute;
  font-size: 1.5rem;
  z-index: -1;
  font-family: "DM Sans";
}

.left2 img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;
}

.left2 p {
  margin-left: 2%;
}

.lg-hidden {
  display: none;
}

@media (max-width: 1024px) and (min-height:1024px)  {
  html {
    font-size: 14px;
  }
  .arrow-right {
    display: none;
  }
  .para2 {
    right: -275px;
  }
  .para3 {
    
    right: -70px;
  }
  .para1 {
    left: -100px;
  }
  .right-curve{
    right: -120px;
  }
  .left-curve{
    left: -140px;
  }
}
@media (max-width: 1024px) and (max-height:800px){
  html {
    font-size: 14px;
  }
  .arrow-right {
    display: none;
  }
  .para2 {
    right: -400px;
  }

}
/* Media query for max-width 800px */
@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
  /* Your CSS rules for screens 800px and smaller */
  .yoga-container {
    height: 70vh;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .para2 {
    top: -4rem;
    right: -120%;
  }
  .para3 {
    top: 25vh;
    right: -70px;
  }
  .para1 {
    left: -40%;
  }
}

/* Media query for max-width 600px */
@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .yoga-container {
    height: 70vh;
  }
  .para2 {
    top: -8rem;
    right: -120px;
  }
  .para3 {
    top: 25vh;
    right: -150px;
  }
  .para1 {
    left: -40%;
  }
  .curve-text {
    height: 150px;
  }
}

/* Media query for max-width 400px */
@media (max-width: 500px) {
  .lg-hidden {
    display: block;
  }
  .para2,
  .para1,
  .para3 {
    position: unset;
  }
  .lg-show {
    display: block;
  }
  .sm-hidden {
    display: none;
  }
  .yoga-header {
    position: unset;
  }
  .yoga-section {
    height: auto;
  }
  /* Your CSS rules for screens 400px and smaller */
  .yoga-container {
    height: 60vh;
  }
  .ellipse {
    height: 35vh;
    left: -30px;
  }
  .cloud {
    height: 20vh;
  }
  .curve-text {
    height: 130px;
  }
  .right-curve{
    right: -70px;

  }
  .left-curve{
    left: -90px;
  }

  .left2 {
    bottom: 25%;
    position: absolute;
    font-size: 13px;
    z-index: -1;
    font-family: "DM Sans";
    text-align: end;
  }
}
}